/* SECTION */

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

/* ABOUT */
.about {
    background: var(--panel);
}
.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.about img {
    width: 100%;
    border-radius: 6px;
}