/* CONTACT */
form {
    max-width: 500px;
    margin: auto;
}
input, textarea {
    width: 100%;
    background: #111;
    border: 1px solid #222;
    color: #fff;
    padding: 12px;
    margin-bottom: 15px;
}

textarea{
    resize: none;
}
form button {
    width: 100%;
    background: var(--accent);
    border: none;
    padding: 14px;
    font-weight: bold;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

#contact{
    min-height: 80vh;
    padding-top: 50px;
}