/* CONTACT */
form {
    max-width: 500px;
    margin: 0 auto;
}
input, textarea {
    width: 100%;
    background: #111;
    border: 1px solid #222;
    color: #fff;
    padding: 12px;
    margin-bottom: 12px;
}

textarea{
    resize: none;
}
form button {
    width: 100%;
    background: var(--accent);
    border: none;
    padding: 14px;
    font-weight: bold;
    color: var(--text);
}

section h2 {
    text-align: center;
    font-size: 32px;
}

#contact{
    min-height: 80vh;
}

#captcha-wrap{
    display: none;
}

.g-recaptcha{
    padding: 20px;
    justify-items: center;
   
}