/* FEATURES GRID */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;

}
.feature-box {
    background: var(--panel);
    padding: 25px;
}
.feature-box img {
    width: 100%;
    margin-bottom: 15px;
}

/* IMAGE GALLERY */
#gallery{
    padding-top: 25px;
    padding-bottom: 40px;
    background: var(--panel);
    min-height: 0;
}
    
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 15px;
}
.gallery img {
    width: 100%;
    border-radius: 4px;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}
