/* SYSTEM */
.system {
    background: var(--panel);
    min-height: 60vh;
    padding-top: 25px;
    bottom: -50px;
    top: -50px;
}
.system ul {
    max-width: 500px;
    margin: auto;
    list-style: none;
}
.system li {
    padding: 10px 0;
    border-bottom: 1px solid #222;
}
section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}