@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Girassol&display=swap');
:root {
    --bg: #0b0b0b;
    --panel: #151515;
    --accent: #d4a017;
    --text: #e5e5e5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    scroll-behavior:smooth;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 40px;
}

#home{
    background: url(../public/assets/img/gamebg.jpg) center/cover no-repeat;
    justify-content: center;
}

#home::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.6), transparent);
    
}

.home-container{
   display: flex;
   flex-direction: column;
}

.title{
    z-index: 10;
    padding:0 5rem;
}

.title h1{
    font-size: 7rem;
    font-family: "Almendra SC", serif;
    font-weight: 500;
    color: rgb(218, 218, 36);
}

.home-download{
    z-index: 10;
    padding:0 5rem;

}

.home-download button{
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: 0;
}

.download-btn-play{
    background-color: rgb(174, 174, 35);
}

.download-btn-type{
    background-color: rgb(90, 90, 27);
}


.info{
    background-color: rgba(56, 56, 56, 0.7);
    position: relative;
    top: 7rem;
    z-index: 10;
}

.info h3{
    text-align: center;
    padding: 1.5rem 0;
    color: #f9f9f9;
    font-family: "Girassol", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 1.6rem;
}

#features{
    justify-content: center;
}

#about{
   
    justify-content: center;
}

#system{
    justify-content: center;
}

#contact{
    justify-content: center;
}
